---
layout: default
title: Home
metatitle: "February 20-22 2019"
slug: home
group: "navigation"
---

{% include banner_home.html %}

<div class="row -dark -collapse">
    <div class="wrapper">
        <ul class="fact grid">
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">3*</span>
                        <span class="fact__label">days of learning</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">3</span>
                        <span class="fact__label">simultaneous tracks</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">15<sup>th</sup></span>
                        <span class="fact__label">annual conference</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">30</span>
                        <span class="fact__label">hand-picked speakers</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row -video">
    <div class="wrapper">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fukconference%2Fvideos%2F1273785939365602%2F&show_text=0&width=560" width="373" height="210" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" style="float:right; margin-left:40px;"></iframe>
        <h2>First time at PHP UK?</h2>
        <p>If you've never been to the conference before check out our conference teaser video to see exactly what happens at the PHP UK Conference.</p>
        <p>We also have photo albums from previous conferences. You can view photos of the 2018 event in our Facbook photo album here.</p>
        <p><a href="/photos" class="link">View photos</a></p>
    </div>
</div>

<div class="row -about">
    <div class="wrapper">
        <h3>About the conference</h3>
        <p>We are pleased to announce the 15th Annual PHP UK Conference. An optional workshop day followed by two days of amazing talks, plentiful networking opportunities and great socials. PHP UK offers the most up-to-date PHP information and training.</p>
    </div>
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel schedule">
                    <div class="gradient -red"></div>
                    <a href="/schedule">
                        <span class="panel__title">The Schedule</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel venue">
                    <div class="gradient -purple"></div>
                    <a href="/venue">
                        <span class="panel__title">The Venue</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel tickets">
                    <div class="gradient -orange"></div>
                    <a href="/tickets">
                        <span class="panel__title">Tickets</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel sponsors">
                    <div class="gradient -blue"></div>
                    <a href="/sponsors">
                        <span class="panel__title">Sponsors</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel socials">
                    <div class="gradient -pink"></div>
                    <a href="/socials">
                        <span class="panel__title">Socials</span>
                    </a>
                </div>
            </div>
            <!-- <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel speakers">
                    <div class="gradient -green"></div>
                    <a href="/hackathon">
                        <span class="panel__title">Hackathon</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row -collapse">
    <div class="wrapper">
        {% include callout_tickets.html %}
    </div>
</div>

<!--
<div class="row -about">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Schedule Announced</h3>
                <p>The PHP UK Conference is pleased to present the full schedule for the 2017 conference including workshops, keynotes, and main conference sessions.</p>
                <p><a class="link" href="/schedule">See the full schedule</a></p>
            </div>
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Scholarships</h3>
                <p>PHP UK's Diversity scholarship programme provides support to members of underrepresented groups who may not otherwise be able to attend our conference for financial reasons.</p>
                <p><a href="/diversity" class="link">Learn more about our diversity programme</a></p>
            </div>
        </div>
    </div>
</div>
-->

<div class="row -testimonials -medium">
    <div class="wrapper">
        <h2 class="text-center">Read the feedback last year's PHP UK</h2>
        <div class="grid">
            <div class="grid__item u-1/3@md u-1/1@sm">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/hashtag/phpuk19?src=hash&amp;ref_src=twsrc%5Etfw">#phpuk19</a> for an inspiring few days of great talks and awesome conversations! Thank you to the <a href="https://twitter.com/PHPUKConference?ref_src=twsrc%5Etfw">@PHPUKConference</a> organizers and volunteers for all of your hard work! We appreciate it!</p>&mdash; Beth Tucker Long (@e3BethT) <a href="https://twitter.com/e3BethT/status/1099273854684401664?ref_src=twsrc%5Etfw">February 23, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="grid__item u-1/3@md u-1/1@sm">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you to everyone at <a href="https://twitter.com/hashtag/phpuk19?src=hash&amp;ref_src=twsrc%5Etfw">#phpuk19</a>; all the lovely people I spoke to, the speakers, volunteers, venue employees, everyone. I&#39;ve been to 5 or 6 of these conferences now but this one was, by far, the best I&#39;ve attended — and I went to the 10 year anniversary! 😎<br><br>See y&#39;all next year</p>&mdash; Marc O&#39;Leary (@topmarcs) <a href="https://twitter.com/topmarcs/status/1099081444880797697?ref_src=twsrc%5Etfw">February 22, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="grid__item u-1/3@md u-1/1@sm">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I had a great time <a href="https://twitter.com/PHPUKConference?ref_src=twsrc%5Etfw">@PHPUKConference</a> this year. Got to  meet so many people and learn so much. Thank you 🙏 <a href="https://twitter.com/hashtag/phpuk19?src=hash&amp;ref_src=twsrc%5Etfw">#phpuk19</a></p>&mdash; Adoni (@pavlakis) <a href="https://twitter.com/pavlakis/status/1099241556094173185?ref_src=twsrc%5Etfw">February 23, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <p class="text-center"><a class="link" href="https://twitter.com/search?q=phpuk18" target="_blank">View more searching #phpuk19 on Twitter</a></p>
    </div>
</div>

<div class="row -history">
    <div class="wrapper">
        <h3>Video Archive</h3>
        <p>PHP UK Conference 2019 was another great success! A huge thanks to all our delegates for attending and leaving feedback, thanks to all our speakers for delivering non-stop fantastic talks, and thanks to all our sponsors who made the event possible.</p>
        <p><a href="/videos" class="link">Watch the videos</a></p>
        {% include videos_featured.html %}
    </div>
</div>
