---
layout: default
---

<div id="homeBanner">
    <div id="header-text">
        <span class="small-title-text">F&nbsp;E&nbsp;B&nbsp;R&nbsp;U&nbsp;A&nbsp;R&nbsp;Y&nbsp;&nbsp;&nbsp;21&nbsp;-&nbsp;22&nbsp;&nbsp;&nbsp;2014&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;&nbsp;</span>
        <a  href="/"><span class="big-title-text">PHP UK</span></a> 
        <span class="small-title-text">&nbsp;&#8212;&nbsp;&nbsp;T&nbsp;H&nbsp;E&nbsp;&nbsp;B&nbsp;R&nbsp;E&nbsp;W&nbsp;E&nbsp;R&nbsp;Y,&nbsp;&nbsp;L&nbsp;O&nbsp;N&nbsp;D&nbsp;O&nbsp;N</span>
    </div>
    <div id="header-sub-text">
        <span class="sub-title-text">CONFERENCE 2014 </span>
    </div>
    <div id="header-circle-wrapper" class="row">
        <div id="header-circles" class="twelvecol">
            <div class="threecol">
                <img class="circle" src="/assets/images/Round1.png" alt="" />
            </div>
            <div class="threecol">
                <img class="circle" src="/assets/images/Round2.png" alt="" /> 
            </div>
            <div class="threecol">
                <img class="circle" src="/assets/images/Round3.png" alt="" /> 
            </div>
            <div class="threecol last">            
                <img class="circle" src="/assets/images/Round4.png" alt="" />
            </div>
        </div>
    </div>

    <div id="bar" class="transparent">
        <div class="row">
            <div id="noSeconds"></div>
            <div id="countdown_descr">
                UNTIL THE PHP UK CONFERENCE
            </div>        
            <a href="http://phpukconference.eventbrite.com/" class="ticket"><img src="/assets/images/Ticket.png" alt="Buy Tickets Now" width="220" height="103" /></a>
        </div>
    </div>
</div>

<div id="main">
    <div class="row">
        <div class="twelvecol">
            <h1>THE PHP UK CONFERENCE</h1>
            <p>
                PHP London are pleased to announce our 9th Annual PHP UK Conference.<br>
                With two days of amazing talks, great socials, and the most up to date information and training on PHP.<br>
                We're proud to be a community organised event.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="fourcol">
            <h2>CONFERENCE</h2>
            <p>This year's conference is the most exciting PHP UK ever! With a fantastic schedule with great speakers from all around the world, you won't want to miss it!</p>
        </div>
        <div class="fourcol">
            <h2>THE CLOUD BAR</h2>
            <h3>Presented by Engine Yard</h3>
            <p>Come downstairs to the James Watt room for an awesome chill out space, free swag, free coffee, and free info about everything cloud. <a href="/cloudbar">More Info</a></p>
        </div>
        <div class="fourcol last">
            <h2>REGISTRATION</h2>
            <p>Blind Bird: Sept 2nd-Nov 6th at £190 + VAT<br>
            Early Bird: Nov 6th-Jan 10th at £250 + VAT<br>
            Standard: Jan 10th onwards at £300 + VAT</p>
        </div>
    </div>

    <div class="row hr">&nbsp;</div>

    <div class="row">
        <h2>2013 CONFERENCE</h2>
        <p>PHP UK Conference 2013 was a great success! With over 700 attendees across 2 days, its been our biggest event yet. A huge thanks to all our delegates for attending and leaving feedback, thanks to all our speakers for delivering non-stop fantastic talks, and thanks to all our sponsors who made the event possible.</p>
        <p><a href="/2013">View Last Year's Site</a></p>
        <p><a href="http://youtube.com/phpukconference">View Videos From Previous Conferences</a></p>
    </div>
    <div class="row">
        <div class="threecol">
            <iframe width="100%" height="" src="http://www.youtube.com/embed/OMw1-dHxsTE?feature=player_profilepage" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="threecol">
            <iframe width="100%" height="" src="http://www.youtube.com/embed/yuqp5lNPG8w?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="threecol">
            <iframe width="100%" height="" src="http://www.youtube.com/embed/hHwNEuTu6rQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="threecol last">
            <iframe width="100%" height="" src="http://www.youtube.com/embed/wn-Rq9srawA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div><!-- main-->

<div id="sponsor-logos-bar">
    {% for sponsor in page.sponsors %}
        {% include sponsors.html %}
    {% endfor %}
</div>
