---
layout: "default"
title: Schedule
group: "navigation"
weight: 3
schedule-thursday:
  - time: "08.00"
    slottype: special
    tracks:
      - track:
            name: Registration
            description: |
              Registration will be open from 8am. Refreshments will be served until shortly before 9am.
  - time: "09.00"
    slottype: special
    tracks:
      - track:
            name: Opening address
            title: Welcome to PHP UK 2015
            speaker: Johanna Cherry & Sam Bell
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "09.15"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: Title of the keynote speech
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "10.15"
    slottype: break
    tracks:
      - track:
            name: Morning Refreshment Break
            description: |
              Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "10.45"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "12.00"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "13.00"
    slottype: break
    tracks:
      - track:
            name: Lunch
            description: |
              A fork buffet lunch will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "14.00"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "15.10"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "16.10"
    slottype: break
    tracks:
      - track:
            name: Afternoon Refreshment Break
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "16.30"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "17.30"
    slottype: special
    tracks:
      - track:
            name: Closing Address and Prize Raffle
            speaker: Johanna Cherry & Sam Bell
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "18.00"
    slottype: break
    tracks:
      - track:
            name: Mid Conference Social
            title: at The Fox, Smith Street
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
schedule-friday:
  - time: "08.00"
    slottype: special
    tracks:
      - track:
            name: Registration
            description: |
              Registration will be open from 8am. Refreshments will be served until 9am.
  - time: "09.00"
    slottype: special
    tracks:
      - track:
            name: Opening address
            title: Welcome to PHP UK 2015
            speaker: Johanna Cherry & Sam Bell
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "09.15"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: Title of the keynote speech
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "10.15"
    slottype: break
    tracks:
      - track:
            name: Morning Refreshment Break
            description: |
              Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "10.45"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "12.00"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "13.00"
    slottype: break
    tracks:
      - track:
            name: Lunch
            description: |
              A fork buffet lunch will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "14.00"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "15.10"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "16.10"
    slottype: break
    tracks:
      - track:
            name: Afternoon Refreshment Break
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "16.30"
    slottype: talks
    tracks:
      - track:
            name: Main track
            title: Title of the talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 1
            title: Title of the second talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      - track:
            name: Sidetrack 2
            title: Title of the third talk
            speaker: Speaker Name
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "17.30"
    slottype: special
    tracks:
      - track:
            name: Closing Address and Prize Raffle
            speaker: Johanna Cherry & Sam Bell
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
  - time: "18.00"
    slottype: break
    tracks:
      - track:
            name: Conference Afterparty
            title: at Somewhere Cool
            description: |
              Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
---
<div class="wrapper">
  <h1>SCHEDULE</h1>
  <p>The PHP UK Conference 2015 is two days packed with interesting talks from some of the most well known speakers in the world. Each day will include three simultaneous tracks of talks so that you are certain to find something of interest at every point throughout the conference.</p>
  <div id="schedule-container">
  <!--  <ul class="schedule-picker">
      <li><a href="#thursday">Thursday</a></li>
      <li><a href="#friday">Friday</a></li>
    </ul>
  -->
    <h2 class="centre">Thursday</h2>
    <ul class="schedule schedule-thursday">
      {% for slot in page.schedule-thursday %}
      <li class="slot {{slot.slottype}}">
        <span class="time">{{slot.time}}</span>
        <div class="tracks-wrapper">
          <ul class="tracks tracks-thursday"><!--
            {% for track in slot.tracks %}
            --><li class="track">
              <span class="name">{{track.track.name}}</span>
              <span class="title">{{track.track.title}}</span>
              <span class="speaker">{{track.track.speaker}}</span>
              <p class="description">{{track.track.description}}</p>
            </li><!--
            {% endfor %}
          --></ul>
        </div>
      </li>
      {% endfor %}
    </ul>
    <h2 class="centre">Friday</h2>
    <ul class="schedule schedule-friday">
      {% for slot in page.schedule-friday %}
      <li class="slot {{slot.slottype}}">
        <span class="time">{{slot.time}}</span>
        <div class="tracks-wrapper">
          <ul class="tracks tracks-thursday">
            {% for track in slot.tracks %}
            <li class="track">
              <span class="name">{{track.track.name}}</span>
              <span class="title">{{track.track.title}}</span>
              <span class="speaker">{{track.track.speaker}}</span>
              <p class="description">{{track.track.description}}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div><!-- schedule-container -->
  <p>*Schedule is subject to change without notice</p>
  <script type="text/javascript">
  $(document).ready(function(){
    foo = function ()
    {
      alert('Bar');
    }
  });
  </script>
</div>