---
layout: default
title: Sponsors
group: "navigation"
weight: 4
sponsors-track:
  - 
    name: Affiliate Window
    slug: affiliate-window
    type: Track
    url: http://www.affiliatewindow.com
    description: |
      Affiliate Window exists to provide its clients with the best service and technology available in performance marketing. With offices in the UK and US and over 240 employees, our aim is to exceed expectations in everything we do.

      Our technology is developed in-house using the latest methodologies, offering custom proprietary solutions for our partners. Our service has led to us receiving numerous awards including the UK's coveted Publishers' Choice of Network award six times. Our platform features comprehensive dashboards and a partner directory allowing users to discover and connect with a range of high quality advertisers and publishers.
  - 
    name: SilverStripe
    slug: silverstripe
    type: Track
    url: http://www.silverstripe.org
    description: |
      SilverStripe is the intuitive content management system and flexible PHP framework loved by editors and developers alike. SilverStripe is headquartered in Wellington, New Zealand and has offices in Auckland and Australia. The easily extendible open source framework has a loyal developer community across the globe. With a UK office opening soon the PHP UK event will serve as the company's European launch.
sponsors-room:
  - 
    name: Engine Yard
    slug: engine-yard
    type: Cloud Bar
    url: http://www.engineyard.com
    description: |
      Engine Yard is the leading Platform as a Service (PaaS) empowering developers to plan, build, deploy and manage applications in the cloud.

      Providing unmatched control and choice, Engine Yard delivers a trusted, complete application cloud and expert developer support that enables organizations to focus on creating great applications, instead of managing their platform.

      Thousands of customers in 58 countries, from explosive-growth Web startups to Fortune 500 enterprises, run on Engine Yard. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, New Enterprise Associates, Oracle and Amazon.
  - 
    name: JetBrains
    slug: jetbrains
    type: Hackathon
    url: http://www.jetbrains.com
    description: |
      JetBrains has a passion for making developers more productive. We design intelligent development tools to simplify your challenging tasks, automate the easy ones, and help you develop with pleasure.

      PhpStorm is a PHP IDE that actually 'gets' your code, supports PHP 5.3/5.4/5.5 and features on the fly error prevention, best autocompletion & code refactoring, zero configuration debugging, the best HTML, CSS, and JavaScript editor.

      We also offer top-notch IDEs for Java, JavaScript, Ruby, Python, and Objective-C, as well as a pack of tools for .NET developers and team productivity tools for continuous integration and issue tracking.

      With headquarters in Prague, Czech Republic, we also have R&D labs in Russia, USA and Germany.
sponsors-social:
  - 
    name: New Relic
    slug: new-relic
    type: Social
    url: http://www.newrelic.com
    description: |
      New Relic is a software analytics company that makes sense of billions of data points about millions of applications in real time. Our comprehensive SaaS-based solution provides one powerful interface for web and native mobile applications and consolidates the performance monitoring data for any chosen technology in your environment. We have over 250,000 users that utilize our cloud solution to analyze more than 690 billion data points per day across more than 4 million application instances. When your brand and customer experience depend on the performance of modern software, New Relic provides insight into your overall environment.
  - 
    name: DreamFactory
    slug: dreamfactory
    type: Beer Factory
    url: http://www.dreamfactory.com
    description: |
      DreamFactory is a PHP-powered open source backend for developing enterprise mobile apps. DreamFactory connects any data source to any mobile device and removes the pain of building your own mobile middleware. 

      How does it work? DreamFactory is a run-time software platform that automatically generates a REST API for SQL databases, NoSQL databases, and file storage systems like S3. You install the DreamFactory open source package on a cloud server, Linux, Windows, or Mac. Then you simply call the REST API from the app you're building, using DreamFactory's client SDKs for Javascript, AngularJS, iOS, Android, Titanium, and Windows Mobile. DreamFactory provides a robust security layer for user, credential, and role management and simplifies server-side scripting for customisation and workflow. 

      The end result: a pre-built, highly customisable backend that reduces development time and enables developers to focus on building great mobile applications that connect to enterprise data.
sponsors-local:
  - 
    name: The Client Relationship Consultancy
    slug: the-crc
    type: Local
    url: http://www.clientrelationship.com
    description: |
      The experts in agency client relationships. We work with the world’s leading agencies, including every major agency group, to help them monitor and strengthen their client relationships in order to make their business more secure.

      Ours is a discreet service. Any agency that works with us knows it will be in complete confidence.
  - 
    name: Inviqa
    slug: inviqa
    type: Local
    url: http://www.inviqa.com
    description: |
      The Inviqa team are the UK’s leading PHP experts providing consultancy, development, training and support to the most ambitious of businesses. As a company with deep roots in quality software engineering, we put great emphasis on the agility and value of our delivery, and we’re proud to count some of the world’s leading organisations as clients, including the BBC, Vodafone, Virgin, and Nokia. 

      Our team are the best at what they do, and that’s no understatement. Across our seven UK offices and one Munich-based team, our engineers, analysts, project managers, consultants and trainers deliver the most complex and creative of projects. When it comes to quality, we set our standards high because we believe it’s what our clients measure us on, and it’s what great reputations are built upon. 

      Want to join the team or know more about what Inviqa can do for your business?
sponsors-special:
  - 
    name: Shopware AG
    slug: shopware
    type: Coffee
    url: http://www.shopware.com
    description: |
      Shopware AG is one of the leading manufacturers of online shop systems in Germany. As an independent, equity-financed company, we develop high quality software on-site and work closely with our customers and partners in order to optimize our product. We evolve transparently and always remain flexible and open to requests from our growing community. These qualities produce high annual growth rates in addition to premium levels of service, which distinguish us from the rest.
  - 
    name: Digital Ocean
    slug: digital-ocean
    type: Cupcake
    url: http://www.digitalocean.com
    description: |
      DigitalOcean is a web hosting platform created for developers at any scale. Users can spin up a “Droplet” in 55 seconds to access DigitalOcean’s secure, fast, reliable Solid-State Drive (SSD) servers on which applications and websites can be built.

      DigitalOcean uses KVM (kernel-based Virtual Machine) to virtualize its servers, and provides more than 380,000 users with a simple, easy to use interface. DigitalOcean’s API allows users to manage Droplets and resources on a larger scale within the DigitalOcean cloud in a straightforward, programmatic way, using conventional HTTP requests.
---
<div class="wrapper">
    <h1>Sponsors</h1>
    <p>The PHP UK Conference is a not-for-profit event and relies heavily on sponsorship to run the event at rates affordable to the whole community. If you're interested in sponsoring our event, please <a href="mailto:contact@phpconference.co.uk">contact us</a>.</p>
  <div class="sponsors-container cf">
    <h2 class="centre">Track Sponsors</h2>
    <ul class="sponsors sponsors-track">
      {% for sponsor in page.sponsors-track %}
      <li class="sponsor sponsor-track {{sponsor.slug}}" id="{{sponsor.slug}}">
        <a href="{{sponsor.url}}" target="_blank" class="logo">
          <img class="sponsor-logo" src="/assets/images/sponsors/{{sponsor.slug}}.png" alt="{{sponsor.name}}" />
        </a>
        <p class="description">{{sponsor.description}}</p>
        <a href="{{sponsor.url}}" target="_blank">
          > Visit the {{sponsor.name}} website
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="sponsors sponsors-room">
      {% for sponsor in page.sponsors-room %}
      <li class="sponsor sponsor-room {{sponsor.slug}}" id="{{sponsor.slug}}">
        <h2 class="centre">{{sponsor.type}} Sponsor</h2>
        <a href="{{sponsor.url}}" target="_blank" class="logo">
          <img class="sponsor-logo" src="/assets/images/sponsors/{{sponsor.slug}}.png" alt="{{sponsor.name}}" />
        </a>
        <p class="description">{{sponsor.description}}</p>
        <a href="{{sponsor.url}}" target="_blank">
          > Visit the {{sponsor.name}} website
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="sponsors sponsors-social">
      {% for sponsor in page.sponsors-social %}
      <li class="sponsor sponsor-social {{sponsor.slug}}" id="{{sponsor.slug}}">
        <h2 class="centre">{{sponsor.type}} Sponsor</h2>
        <a href="{{sponsor.url}}" target="_blank" class="logo">
          <img class="sponsor-logo" src="/assets/images/sponsors/{{sponsor.slug}}.png" alt="{{sponsor.name}}" />
        </a>
        <p class="description">{{sponsor.description}}</p>
        <a href="{{sponsor.url}}" target="_blank">
          > Visit the {{sponsor.name}} website
        </a>
      </li>
      {% endfor %}
    </ul>
    <h2 class="centre">Local Sponsors</h2>
    <ul class="sponsors sponsors-local">
      {% for sponsor in page.sponsors-local %}
      <li class="sponsor sponsor-local {{sponsor.slug}}" id="{{sponsor.slug}}">
        <a href="{{sponsor.url}}" target="_blank" class="logo">
          <img class="sponsor-logo" src="/assets/images/sponsors/{{sponsor.slug}}.png" alt="{{sponsor.name}}" />
        </a>
        <p class="description">{{sponsor.description}}</p>
        <a href="{{sponsor.url}}" target="_blank">
          > Visit the {{sponsor.name}} website
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="sponsors sponsors-special">
      {% for sponsor in page.sponsors-special %}
      <li class="sponsor sponsor-special {{sponsor.slug}}" id="{{sponsor.slug}}">
        <h2 class="centre">{{sponsor.type}} Sponsor</h2>
        <a href="{{sponsor.url}}" target="_blank" class="logo">
          <img class="sponsor-logo" src="/assets/images/sponsors/{{sponsor.slug}}.png" alt="{{sponsor.name}}" />
        </a>
        <p class="description">{{sponsor.description}}</p>
        <a href="{{sponsor.url}}" target="_blank">
          > Visit the {{sponsor.name}} website
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>