.icon{
    @include transition(opacity, .3s, ease);

    &.-small{

        svg{
        	height:13px;
        	width:auto;
        }
    }

    &.-large{

        svg{
            height:32px;
            width:auto;
        }
    }

    svg,
    svg path{
        fill:$color-icon;
    }

    &:hover{ opacity:0.5; }
}