#homeBanner{
	position:relative;
    height:540px;
    background:#000 url('../images/HeaderBackground.jpg') center top no-repeat;

	.circle{
		padding:3%;
	}

	#bar{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		width:auto;
		height:60px;
		color:#da9e26;
		font-size:3em;
		background:rgba(0,0,0,0.7);
		font-family: "SteelfishRgRegular";
		z-index:100;

		#countdown_descr,
		#noSeconds{
			display:inline-block;
		}
	}
	.ticket{
		position:absolute;
		top:-20px;
		right:40px;

		img{
			width:auto !important;
			height:auto !important;
			-webkit-animation: wiggle 7s 3s infinite;
			   -moz-animation: wiggle 7s 3s infinite;
			     -o-animation: wiggle 7s 3s infinite;
			        animation: wiggle 7s 3s infinite;
		}
	}
}

.countdown_row{

	br{
		display:none !important;
	}
	.countdown_section{
		display:inline-block;
		line-height:60px;
		margin:0 30px 0 0;
	}
	.countdown_amount{
		padding:0 10px 0 0;
		color:#fff;
	}
}


#header-text {
	text-align: center;
	position:relative;
	padding-top: 5.5%;
}
.big-title-text {	
	font-family: "SteelfishRgRegular";
	font-size:10em;
	color: #fff;
}
.small-title-text {	
	font-family: "SteelfishRgRegular";
	font-size:3.8em;
	color: #fff;
}
#header-sub-text{
	padding-top: 0.5%;
	text-align: center;
	position:relative;
	}
.sub-title-text{
	font-family: "SteelfishRgRegular";
	font-size:4.1em;
	color: #da9e26;
	padding-right:10px
	}
#header-circle-wrapper {
	}
#header-circles {
	position:relative;
	z-index: 103;
	text-align: center;
	width: 100%;
	}

#bar{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:auto;
	height:60px;
	background:rgba(0,0,0,0.7);
	font-family: "SteelfishRgRegular";
}