    .thermometer {
      border-top: 0px solid #c4c4c4;
      margin-bottom: 1em;
      padding-bottom: 0.25em;
    }   
    /* thermometer styles */
    .thermometer-outer {
      background: #ffff99;
      border: 0px solid #c4c4c4;
      border-radius: 3px;
    }
    .thermometer-outer-h {
      height: 20px;
      width: 100%;
    }
    .thermometer-outer-v {
      height: 200px;
      width: 20px;
    }
    .thermometer-inner {
      background: #006699;
    }
    .thermometer-inner-h {
      height: 20px;
    }
    .thermometer-inner-v {
      width: 20px;
    }