@font-face {
    font-family: 'Entypo';
    src:url('../fonts/entypo.eot') format('eot'),
        url('../fonts/entypo.svg') format('svg'),
        url('../fonts/entypo.woff') format('woff'),
        url('../fonts/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}