@font-face {
    font-family: 'SteelfishRgRegular';
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.svg#SteelfishRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SteelfishRgItalic';
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot');
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.woff') format('woff'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.svg#SteelfishRgItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot');
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1{
    font-family:"SteelfishRgRegular";
    font-size:3.8em;
    line-height:1.4em;
    color: #da9e26;
    }

h2{
    font-family:"SteelfishRgRegular";
    font-size:2.6em;
    line-height:1.4em;
    color:#4A91A3;
    }

p{
    color:#373737;
    font:300 1.5em/1.625 "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom:20px;

    a{
        border-bottom:1px dotted;
    }
}

a{
    text-decoration:none;
}

#main{

    ul, ol{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10%;
        list-style: circle url('../images/goldbutton.png'); 
    }

    a{
        color:#60B5C9;

        &:hover{
            color:#2492a2;
        }
    }
}