.navbar {
display:none;
  width:0; 
  overflow: hidden;
  position:fixed;
  top:0;
  right:0;
  height:100%;
  z-index:100;
  background:#555;
  color:#fff;
  @include box-shadow(inset 3px 0 4px rgba(0,0,0,0.6));
}

.contentArea{
  width:100%;
  float:left;
  transition:margin 0.3s ease;
}

.navbar {
  transition:width 0.3s ease;
}

#access:target{
  width:80%;

	+ .contentArea{
		margin:0 80% 0 -80%;
		float:left;
	}
}

