.navbar{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:$nav-height;
    z-index:100;
    background:#2c2e35;
    color:#fff;
    cursor:pointer;

    .nav{
        text-align:center;
        z-index:101;
    }

    li{
        display:inline-block;
        text-align:center;
        font-size:2em;

        a{
            display:block;
            padding:0 20px;
            height:50px;
            line-height:50px;
            color:#fff;
            text-transform:uppercase;
            text-decoration:none;
            border:none;
        }

        &.active a,
        &:hover a{
            background:rgba(0,0,0,0.5);
        }
    }
}

.header{
    position:relative;
    height:$header-height;
    background:#ccc;
    text-align:center;
    background:#f2f8fc image-url('bg-header.png') center bottom repeat-x;

    .bunting{
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:84px;
        background:image-url('bunting.png') center top repeat-x;
    }

    .wrapper{
        height:$header-height;
    }

    .logo{
        position:relative;
        display:inline-block;
        margin:70px auto 0 auto;

        a{
            border:none;
        }

        .hat{
            position:absolute;
            top:-88px;
            right:35px;
            display:block;
        }
        .horn{
            position:absolute;
            top:140px;
            left:50px;
            display:block;
        }
    }

    .text{
        position:absolute;
        display:block;
        bottom:10px;
        margin-top:10px;
        color:#fff;
        font-size:3em;
        font-weight:600;
        z-index:11;
        @include text-shadow(1px 1px 0 rgba(0,0,0,0.3), 0px 0px 8px rgba(0, 0, 0, 0.1));

        sup{
            font-size:0.5em;
            vertical-align:top;
        }
    }

    .text-left{
        left:$gutter;
        &:after{
            content:" of...";
        }
    }

    .text-right{
        right:$gutter;
    }

    .balloons{
        z-index:101;
        display:block;
        position:absolute;
    }

    .balloons-left{
        left:50%;
        top:-20px;
        margin-left:-500px;
    }

    .balloon-right{
        right:0;
        top:130px;
    }

    .date{
        display:none;
    }
}

.home .header{
    height:420px;

    .text{
        clear:both;
        position:relative;
        left:auto;
        right:auto;
        bottom:auto;
        font-size:6.2em;
    }

    .text-left{
        margin:30px 0 10px 0;
        font-size:4.4em;
        @include text-shadow(0 0 6px rgba(0,0,0,0.2),1px 1px 0 rgba(0,0,0,0.2));
        &:after{
            content:"";
        }
    }

    .text-right{
        display:none;
        color:#1A5364;
        font-size:7em;
        @include text-shadow(none);

        &:before{
            content:"";
        }
    }

    .date{
        display:block;
        font-size:2.6em;
    }
}

@include respond(medium){
    .nav li{
        font-size:1.8em;
    }
}

@include respond(mobile){
    .nav{
        height:$nav-height;
        overflow:hidden;
        background:#2c2e35;

        &:before{
            content:"Menu";
            display:inline-block;
            text-align:center;
            font-size:2em;
            display:block;
            padding:0 20px;
            height:50px;
            line-height:50px;
            color:#fff;
            text-transform:uppercase;
        }

        &:after{
          content:"";
          position:absolute;
          top:16px;
          left:15px;

          width:22px;
          height:3px;
          border-top:9px double rgba(255,255,255,0.8);
          border-bottom:3px solid rgba(255,255,255,0.8);
        }

        &.open{
            height:auto;
            overflow:auto;
        }

        li{
            width:100%;
            clear:left;
            font-size:1.8em;
        }
    }
    .header{
        height:160px;

        .text{
            display:none;
            font-size:2em;
        }

        .logo{
            width:200px;
            margin:80px auto 0 auto;

            img{
                max-width:100%;
                height:auto;
            }

            .hat{
                top:-89px;
                right:13px;
            }
            .horn{
                top:100px;
                left:17px;
            }
        }
    }
    .home .header{
        height:420px;

        .text{
            display:block;
	    font-size:2em;
        }

        .text-left{
            font-size:2.8em;
        }
        .text-right{
            font-size:3.4em;
        }
    }
}
