nav{
    height:$nav-height;
    background:#25272C;
}

.menu{
    display:inline-block;
    width:50%;
    margin:0 -2px 0 0;
    padding:0 100px 0 0;
    list-style:none;

    li{
        padding:0 60px 0 0;
        display:inline-block;
        @include respond(medium){
            padding-right:20px;
        }

        a{
            font-size:3em;
            font-family:"SteelfishRgRegular";
            line-height:$nav-height;
            color:#fff;
            text-decoration:none;
            @include transition(text-shadow 0.9s 0 ease-in-out);
            @include respond(medium){
                font-size:2em;
            }

            &:hover{
                @include text-shadow(0 0 6px rgba(245,205,134,1));
            }
        }
    }
}

.menuLeft{

}

.menuRight{
    padding:0 0 0 100px;
    text-align:right;

    li{
        padding:0 0 0 60px;
        @include respond(medium){
            padding-left:20px;
        }
    }
}

#logo{
    position:absolute;
    top:60px;
    left:50%;
    margin:0 0 0 -80px;
    z-index:101;
}

.mobMenu{
    display:none;
    @include respond(medium){
        display:block;
        z-index:100;
        background-color:#25272C;

        .mobile{
            display:block;
            cursor:pointer;

            a{
                height:60px;
                line-height:60px;
                font-size:1.4em;
                color:#4A91A3;
            }

            ul{
                display:none;
                z-index:103;
            }
        }
    }
}

.mobMenu .mobile:hover > ul{
    display:block;
    z-index:1000;
    position:relative;
}


.noMobile{
    display:inline-block;
    @include respond(medium){
        display:none;
    }
}