.schedule{
	list-style:none;
	margin:0 -2em;
	padding:0;
	border-top:1px solid #C8C8C8;

	.slot{
		height:$schedule-size;
		overflow:hidden;
		vertical-align:middle;
		font-size:1em;
		border-bottom:1px solid #C8C8C8;
	}

	.time{
		float:left;
		display:block;
		width:$schedule-size;
		height:$schedule-size;
		line-height:$schedule-size;
		text-align:center;
		background:#49BFCE;
		color:#fff;
		font-size:2em;
	}

	.tracks-wrapper{
		margin:0 0 0 80px;
	}

	.tracks{
		display:table-cell;
		padding:0 0 0 10px;
		height:$schedule-size;
		vertical-align:middle;
		font-size:0.9em;
	}

	.track{
		white-space:nowrap;
	}

	.name{
		display:none;
		color:$grey;
	}

	.title{
		font-weight:400;
	}

	.speaker{
		font-weight:300;
		color:$conference-yellow;

		&:before{
			content:" - "
		}
	}

	.description{
		display:none;
	}

	.special{
		.name{
			display:block;
		}
	}

	.break{
		background:#eee;
		text-align:center;

		.time{
			background:#1A5364;
		}

		.name{
			white-space:none;
			display:block;
			font-weight:bold;
			font-size:1.2em;
			line-height:$schedule-size;
			text-align:center;
		}
	}

	.slot.active{
		height:auto;

		.name{
			display:block;
		}

		.track{
			padding:8px 0 8px 0;
			white-space:normal;
		}

		.description{
			display:block;
			font-size:1em;
		}
	}
}

@include respond(desktop){
	.schedule{
		margin:0 0 40px 0;

		.slot{
			height:auto;
		}
		.tracks-wrapper{
			padding:10px 0;
		}
		.tracks{
 			min-width:10%;
		}
		.track{
			display:inline-block;
			width:31%;
			margin-right:2%;
			white-space:normal;
			vertical-align:top;
		}
		.special .track{
			width:100%;
			margin:0;
		}
		.special:first-child .speaker{
			margin-bottom:7px;
		}
		.break .track{
			width:50%;
			margin:0;
		}
		.break .name{
			line-height:3rem;
		}
		.description{
			display:block;
		}
		.name{
			display:block;
		}
		.title{
			display:block;
			font-weight:400;
			font-size:2rem;
		}
		.speaker{
			display:block;
			clear:both;
			margin-bottom:15px;

			&:before{
				content:"";
			}
		}
	}
}


/* Slot colours
.slot:nth-child(1) .time{
	background:#52BCBA;
}
.slot:nth-child(2) .time{
	background:#4C75C0;
}
.slot:nth-child(3) .time{
	background:#D76D68;
}
.slot:nth-child(4) .time{
	background:#7B4C80;
}
.slot:nth-child(5) .time{
	background:#E8C76A;
}
.slot:nth-child(6) .time{
	background:#52BCBA;
}
.slot:nth-child(7) .time{
	background:#4C75C0;
}
.slot:nth-child(8) .time{
	background:#D76D68;
}
.slot:nth-child(9) .time{
	background:#7B4C80;
}
.slot:nth-child(10) .time{
	background:#E8C76A;
}
.slot:nth-child(11) .time{
	background:#52BCBA;
}
.slot:nth-child(12) .time{
	background:#4C75C0;
}
.slot:nth-child(13) .time{
	background:#D76D68;
}
.slot:nth-child(14) .time{
	background:#7B4C80;
}
.slot:nth-child(15) .time{
	background:#E8C76A;
}
*/