.speaker{
    clear:both;
    margin:0 0 30px 0;
    overflow:auto;

    .speaker-meta{
        width:190px;
        float:left;
    }
    .speaker-photo{
        float:left;
    }
    .speaker-name{
        font-size:3rem;
        font-weight:300;
        color:#000;
    }
    .speaker-company{
        display:block;
        clear:both;
        color:#999;
    }
    .speaker-handle{
        display:inline-block;
        clear:both;
        color:$twitter-blue;
        font-weight:900;
        text-decoration:none;
    }
    .speaker-photo{
        width:150px;
        height:auto;
    }
    .speaker-bio{
        margin:0 0 0 380px;
    }
}

@include respond(desktop){
    .speakers{
        margin:40px 0;
    }
}

@include respond(mobile){
    .speaker{

        .speaker-photo{
            float:none;
            width:30%;
            height:auto;
            margin:0 0 20px 0;
        }

        .speaker-bio{
            margin: 10px 0 0;
        }
    }

}