@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "respond";
@import "fonts";
@import "entypo";
@import "footer";
@import "header";
@import "banner";
@import "content";
@import "schedule";
@import "speakers";
@import "sponsors";
@import "profiles";
@import "animation";

* {
    @include box-sizing(border-box);
}

html{
    font-size:10px;
}

body{
	font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:10px;
    padding-top:$nav-height;
}

.wrapper{
    position:relative;
    padding:0 $gutter;
    margin:0 auto;
    max-width:1100px;
}

.content-area{
    padding-top:6rem;
    padding-bottom:6rem;
}

.home .content-area{
    padding:0;
}

img{
	max-width:100%;
	height:auto;
}

.centre,
.center{
    text-align:center;
}

.align-right{
    text-align:right;
}

.row{
    padding:30px 0;

    h1,h2,h3{
        margin-top:0;
    }
}

.col-half{
    display:inline-block;
    vertical-align:top;
    width:50%;
    padding:0 2% 0 0;

    +.col-half{
        padding:0 0 0 2%;
    }
}

.col-third{
    display:inline-block;
    vertical-align:top;
    width:32%;
    padding:0;

    +.col-third{
        margin:0 0 0 2%;
    }
}

.col-quarter{
    display:inline-block;
    vertical-align:top;
    width:23%;
    padding:0;

    +.col-quarter{
        margin:0 0 0 2.66%;
    }
}

.cf:before,
.cf:after{
    content:" ";
    display:table;
}
.cf:after{
    clear: both;
}
.cf{
    *zoom: 1;
}