@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "fonts";
@import "header";
@import "banner";
@import "footer";
@import "schedule";
@import "speakers";
@import "profiles";
@import "animation";

* {
    @include box-sizing(border-box);
}

body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:10px;
}

.row{
    position:relative;
    padding:0 20px;
    overflow:visible;
}

#main{
	padding:60px 0 0 0;

	.row{
		padding:0 20px 30px 20px;
	}
}

#submit-abstract {
	font-size: 140%;
	margin: auto;
	text-align: center;	
	padding-bottom: 20px;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
.row {
    *zoom: 1;
}