---
layout: "default"
title: Speakers
metatitle: Speakers
group: "navigation"
weight: 2
---
<div class="page-title speakers">
    <div class="wrapper">
        <h1>Speakers</h1>
        <h2>Read about our conference speakers</h2>
    </div>
</div>
<div class="row">
  <div class="wrapper">    
    <ul class="speakers">
      {% for speaker in site.data.2017.speakers %}
      {% if speaker.type != "organiser" %}      
      <li id="{{speaker.slug}}" class="speaker">
          <img class="speaker-photo" src="/2017/assets/images/speakers/{{speaker.slug}}.jpg">
          <h4 class="speaker-name">{{speaker.name}}</h4> <h6 class="speaker-company">{{speaker.company}}</h6>
          {% if speaker.twitter %}<a class="speaker-handle" href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>{% endif %}
          <div class="speaker-bio">
            {{speaker.bio}}
          </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>