.page-title{
	position:relative;
	background-size:cover;
	background-position:center;
    margin-bottom:6rem;

	@include respond(large){
        height:322px;
    }

	&:before{
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		display:block;
		content:"";
		z-index:1;
		background:rgba($color-grey-dark,0.8);
	}

	h1, h2{
		position:relative;
		color:$color-white;
		z-index:2;
	}

	&.about{
		background-image:url(/assets/images/banners/about.png);
	}
	&.speakers{
		background-image:url(/assets/images/banners/speakers.png);
	}
	&.schedule{
		background-image:url(/assets/images/banners/schedule.png);
	}
	&.sponsors{
		background-image:url(/assets/images/banners/sponsors.png);
	}
	&.socials{
		background-image:url(/assets/images/banners/socials.png);
	}
	&.venue{
		background-image:url(/assets/images/banners/venue.png);
	}
	&.diversity{
		background-image:url(/assets/images/banners/diversity.png);
	}
	&.tickets{
		background-image:url(/assets/images/banners/tickets.png);
	}
}