.row{
	padding:75px 0;

	&.-primary{
		background-color:$color-brand-secondary;
	}

	&.-dark{
		background-color:$color-grey-dark;
	}
}

.content-area{
    padding-bottom:6rem;
    // padding-top:6rem;
}