/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * 1. Minus the padding left on the col makes sure the spacing is correct
 * 2. Not all to force 100% width on mobile (Downside of mobile first)
 */

.cols{
    @include clearfix;
    margin-left:-$spacing-unit; /* [1] */
}

    .col{
        display:inline-block;
        vertical-align:top;
        padding-left:$spacing-unit;

        &:empty{
            display:none !important;
        }

        @include respond(mobile-only){
            width:100% !important; /* [2] */
        }
    }

/**
 * 1. Add attribute of class to layout based on position of the sidebar i.e.
 *    sidebar-left for sidebar on the left sidebar-right for sidebar on right
 */

.sidebar-left{ /* [1] */

    @include respond(medium){

        .page-sidebar{ float:left; }

        .page-content{ margin-left:$base-sidebar-width + $base-sidebar-spacing; }
    }
}

.sidebar-right{ /* [1] */

    @include respond(medium){

        .page-sidebar{ float:right; }

        .page-content{ margin-right:$base-sidebar-width + $base-sidebar-spacing; }
    }
}