.schedule{
	table-layout: auto;
	width: 100%;
	margin: 10px;
	padding: 0;
	overflow: auto;
	background: $color-grey-light;
	color: $color-page-text;

	.time{
		margin:0;
		padding:15px;
		border-color:$color-white;
		border-style:solid;
		border-width:2px 1px;

		@include respond(large){
			display: table-cell;
			width: 10%;
		}

		@include respond(medium){
			display: table-cell;
			width: 10%;
		}

		@include respond(mobile-only){
			display: inline-block;
			width: 100%;
		}
	}

	.track{
		margin:0;
		padding:15px;
		border-color:$color-white;
		border-style:solid;
		border-width:2px 1px;
		background:$color-brand-primary;

		> *{
			color:$color-white;
		}

		a{
			color:$color-white;
			text-decoration:underline;
		}

		@include respond(large){
			display: table-cell;
			width: 22.5%;
		}

		@include respond(medium){
			display: table-cell;
			width: 22.5%;
		}

		@include respond(mobile-only){
			display: inline-block;
			width: 100%;
		}
		
		.track-slot-meta{
			> *{
				display:block;
			}

			.title{
				margin-bottom:6px;
				font-size:1.1em;
				line-height:1.3em;
				min-height:10px;

				@include respond(medium){
					min-height:50px;
				}
			}

			.speaker{
				margin-bottom:2px;
			}

			.track-name{
				opacity:0.8;
			}

			.description{
				margin-top:10px;
			}
		}
	}

	.keynote{
		text-align:center;
		background:$color-green;
	}

	.break{
		background:$color-grey-light;

		> *{
			color:$color-page-text;
		}

		a{
			color:$color-page-text;
			text-decoration:underline;
		}

		.title{
			min-height:10px;
		}
	}
}