.wrapper {
	min-width: 95%;
}

.schedule-wrapper{
	table-layout: fixed;
	width: 100%;
	margin: 10px;
	padding: 0;
	overflow: auto;
	background: $color-grey-light;
	color: $color-page-text;

	.time{
		margin:0;
		padding:15px;
		border-color:$color-white;
		border-style:solid;
		border-width:2px 1px;

		@include respond(large){
			display: table-cell;
			width: 2%;
		}

		@include respond(medium){
			display: table-cell;
			width: 2%;
		}

		@include respond(mobile-only){
			display: inline-block;
			width: 100%;
		}
	}

	.track{
		margin:0;
		padding:15px;
		border-color:$color-white;
		border-style:solid;
		border-width:2px 1px;
		background:$color-brand-primary;

		vertical-align: top;

		> *{
			color:$color-white;
		}

		a{
			color:$color-white;
			text-decoration:underline;
		}

		@include respond(large){
			display: table-cell;
			width: 24.5%;
		}

		@include respond(medium){
			display: table-cell;
			width: 24.5%;
		}

		@include respond(mobile-only){
			display: inline-block;
			width: 100%;
		}

		.track-slot-meta{
			margin-bottom: 1em;

			> *{
				display: block;
				font-size: 1em;
			}

			.title{
				min-height: 11em;

				.main-title {
					font-size: 1.8em;
					display: block;
				}

				.subtitle {
					font-size: 1.2em;
				}
			}

			.speaker{
				margin-bottom: initial;
			}
		}
	}

	.workshop{
		.track-slot-meta{
			.title{
				min-height: 5em;
			}
		}
	}

	.talks{

	}

	.keynote{
		text-align:center;
		background:$color-green;

		.track-slot-meta{
			.title{
				min-height: 5em;
			}
		}
	}

	.break{
		background:$color-grey-light;

		> *{
			color:$color-page-text;
		}

		a{
			color:$color-page-text;
			text-decoration:underline;
		}

		.track-slot-meta{
			.title{
				min-height: 1em;
			}
		}
	}
}