.speakers{
	list-style:none;
}

.speaker{
	clear:both;
	margin-bottom:30px;
	
	&-photo{
		float:left;
		margin:0 20px 30px 0;
		width:150px;
		max-width:22%;

		@include respond(mobile-only){
			margin-bottom:10px;
		}

	}

	&-name{
		display:inline-block;
		margin-top:0;
	}

	&-company{
		color:$color-brand-primary;
		margin-bottom:5px;
	}

	&-handle{
		display:block;
		margin-bottom:5px;
	}
}