#schedule-container {
	background-color: #efefef;
}

.sessions .row {
    background-color: #EFEFEF;
}

.schedule-row {
    background-color: #DEDEDE;
}

.row-divider {
	border-top: 1px solid #c5c5c5;
	
}

.schedule-room-main,
.schedule-room-side{
	h2,
	h3{
		font-size:2em;
		line-height:1.2em;
	}
}

.time-slot {
}
.start-time {
	background-color: #DEDEDE;
	width: 8%;
	float: left;
	text-align: right;
	padding-right: 1%;
	}
.end-time {
	background-color: #DEDEDE;
	width: 8%;
	float: left;
	text-align: right;
	padding-right: 1%;
	}
.sessions {
	width:82%;
	float: left;
	text-align: center;
	
	}
.session-one {
	background-color: #efefef;
	}
.session-main {
	background-color: #efefef;
	}
.session-two {
	background-color: #efefef;
	}
.session-title {
	/*font-weight: bold;*/
	/*margin-top:5px;*/
}
.session-presenter {
	font-style: italic;
	font-size: 14px;
}
.session-abstract {
	font-size: 14px;
}
.session-all {
	background-color: #efefef;
	}
.session-break {
	background-color: #dedede;
	}
.session-key {
	/*background-color:  #da9e26;*/
	}
.session-rc {
	background-color: #efefef;
	}

h1.schedule {
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	color: #60b5c9;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 5%;
	background-color: #DEDEDE;
	border-bottom: 1px solid #c5c5c5;
}
h1.uncon{
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 30px;
	}
	
.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none
}
.web_dialog
{
   display: none;
   position: absolute;
   width: 300px;
   top: 0;
   left: 50%;
   margin-left: -190px;
   margin-top: 400px;
   border: 1px solid #c5c5c5;
   z-index: 102;
 
   background-color: #f5f5f5;
}
.btnClose {
	float: right;
	margin-right:15px;
	margin-top: 10px;
	color: #a5a5a5;
	}
.btnClose a {
	color: #a5a5a5;
}
.btnClose a:hover {
	color: #333333;
	text-decoration: none;
}
.web_dialog_title
{
   font-weight:bold;
   color: black;
   padding-right: 15px;
}
.web_dialog_container {
	margin: 50px;
}
.web_dialog_container .row {
	background-color: #f5f5f5;
	text-align: left;
}
.web_dialog_blurb {
	margin-top: 10px;
	margin-bottom: 30px;
}