<div class="banner">
	<div class="banner__content">
		<img class="banner__logo elephant" src="/assets/images/php-uk.png" alt="PHP UK Elephpant" />
		<span class="banner__title">PHP UK Conference</span>
		<span class="banner__sub-title">19<sup>th*</sup>, 20<sup>th</sup> &amp; 21<sup>st</sup> February 2020</span>
		<span class="banner__location">
			<i class="icon -small">
				{% include {{ icon.class | prepend: 'icons/location' | append: '.svg' }} %}
			</i>
			The Brewery, City of London
		</span>
        <span class="banner__notice">Tickets on Sale!</span>
        <a href="/tickets" class="button">Purchase Tickets Now</a>
	</div>
</div>