<form action="http://phplondonltd.createsend.com/t/i/s/nsujj/" method="post" id="subForm" class="newsletter-form">
	<h3>Stay up-to-date with PHP UK news and accouncements</h3>
	<p>Enter your email address to join the PHP UK Conference mailing list and be the first to hear our latest news.</p>
	<fieldset>
		<input id="fieldEmail" name="cm-nsujj-nsujj" type="email" required placeholder="Your email address" class="wide" />
		<button type="submit" class="button -inverse">Subscribe</button>
	</fieldset>
</form>