<script type='application/ld+json'> 
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "url": "{{site.url}}",
        "name": "{{ site.name }}",
        "description": "{{ site.description }}",
        "startDate": "2019-02-20",
        "endDate": "2019-02-22",
        "image": "{{site.url}}/assets/images/og-image.png",
        "location": {
            "@type": "Place",
            "name": "The Brewery",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "52 Chiswell Street",
                "addressLocality": "London",
                "addressRegion": "London",
                "postalCode": "EC1Y 4SA",
                "addressCountry": "GB"
            }
        }
    }
</script>
