<h2>The Schedule</h2>
<ul class="timeline">
	<li class="timeline-day">
		<span class="timeline-day__date">Wednesday 15th</span>
		<span class="timeline-day__time">9am - 4pm</span>
		<span class="timeline-day__title">Tutorial day</span>
	</li>
	<li class="timeline-day">
		<span class="timeline-day__date">Thursday 16th</span>
		<span class="timeline-day__time">9am - 5:30pm</span>
		<span class="timeline-day__title">Conference Day One</span>
	</li>
	<li class="timeline-day">
		<span class="timeline-day__date"></span>
		<span class="timeline-day__time">6pm</span>
		<span class="timeline-day__title">Conference Social</span>
	</li>
	<li class="timeline-day">
		<span class="timeline-day__date">Friday 17th</span>
		<span class="timeline-day__time">9am - 5:30pm</span>
		<span class="timeline-day__title">Conference Day Two</span>
	</li>
</ul>