<div class="video-player-wrapper">
	<video
	id="video-player" class="video-js vjs-default-skin video-player"
	controls
	preload="auto"
	width="640"
	height="409"
	poster="http://img.youtube.com/vi/{{ page.video-id }}/maxresdefault.jpg"
	data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v={{ page.video-id }}"}] }'
	>
	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
<script src="/assets/js/youtube.min.js"></script>
</div>
<h3>Video details</h3>
<p>
	<span class="video__speaker">Speaker: {{ page.speaker }}</span><br>
	<span class="video__length">Length: {{ page.length }}</span>
</p>