$color-white:                           #FFFFFF;
$color-black:                           #000000;
$color-grey:                            #CCCCCC;
$color-grey-light:						#F4F4F4;
$color-grey-medium:						#4E4E4E;
$color-grey-dark:                       #1f1f1f;
$color-brand-primary:                   #00718A;
$color-brand-secondary:                 #DA9E26;
$color-brand-tertiary:                  #222222;

$color-red:                             #D83825;
$color-green:                           #0DA05A;

// Reassign literal variables to meaningful ones.
$color-page-text:                       #6F6F6F;
$color-page-heading:					#373737;
$color-page-background:                 $color-white;

$color-ui:								$color-page-text;
$color-ui-primary:						$color-brand-secondary;
$color-ui-secondary:					$color-brand-primary;

$color-btn:                             $color-black;
$color-btn-primary:                  	$color-ui-primary;
$color-btn-secondary:                   $color-ui-secondary;

$color-thead-bg:                        $color-brand-primary;
$color-thead-border:                    $color-white;
$color-input-focus:                     $color-brand-primary;

$color-toplinks-backgound:				$color-black;

$color-header-border:                   $color-grey;

$color-nav:                             $color-grey-dark;
$color-nav-background-active:           $color-brand-secondary;
$color-nav-active:                      $color-brand-secondary;
$color-nav-sub:                         $color-grey-dark;
$color-nav-sub-background:              $color-brand-secondary;

$color-footer-background:               $color-grey-dark;
$color-subfooter-background:            $color-black;

$color-icon:							$color-brand-primary;

$color-error:                           $color-red;
$color-success:                         $color-green;


// A list of all of the colours used on the styleguide page
$colors: 
(brand-primary, $color-brand-primary),
(brand-secondary, $color-brand-secondary),
(grey, $color-grey),
(grey-dark, $color-grey-dark),
(red, $color-red),
(green, $color-green)
;
