.page-head .main-menu,
.mobile-nav .main-menu{
	list-style:none;
	margin:0;
	padding:0;

	@include respond(large){
		position:static;
		background:none;
		float:right;
		width:auto;
		height:auto;
	}

	&__logo{
		display:block;
		margin:0 auto;
		padding:20px;

		img{
			height:auto;
			width:100px;
		}

		@include respond(large){
			display:none;
		}
	}
	
	&__item{
		display:block;
		padding:0;
		border-bottom:1px solid rgba($color-white,0.5);

		@include respond(large){
			display:inline-block;
			border-bottom:none;
			padding:23px 8px;
		}

		&:first-of-type{
			border-top:1px solid rgba($color-white,0.5);

			@include respond(large){
				border-top:none;
			}
		}


		&:last-child{
			padding:20px 14px;
			border-bottom:none;

			@include respond(large){
				padding:0;
			}
			
			a{
				border:1px solid rgba($color-white,0.5);
				border-radius:20px;
				padding:7px 20px 7px 50px;
				background:url(../images/ticket.svg) no-repeat left 7px center;
				background-size:35px 23px;
				@include transition(background-color, .3s, ease);
				@include transition(border-color, .3s, ease);

				&:hover{
					color:$color-white;
					border-color:$color-brand-secondary;
					background-color:$color-brand-secondary;
					text-decoration:none;
				}

				&.-is-active{
					color:$color-white;
					background-color:none;
				}
			}
		}
	}

	&__link{
		display:block;
		color:$color-white;
		padding:10px 14px;
		@include transition(background-color, .3s, ease);

		@include respond(large){
			padding:7px 14px;
		}

		&:hover,
		&.-is-active{
			color:$color-brand-primary;
			text-decoration:underline;
			background:$color-white;

			@include respond(large){
				color:$color-white;
				background:none;
			}
		}
	}
}