.mobile-nav{

	// Side in mobile menu
	position:fixed;
	top:0;
	right:0;
    background:$color-brand-primary;
    width:80%;
    height:100%;
    overflow-y:scroll;
    @include transition(transform, $base-transition, ease);
    @include transition(opacity, $base-transition, ease);
    @include transform(translateX(100%));

    @include respond(large){
		display:none;
	}

    &.show{
		display:block !important;
	}

	&.hide{
		display:none !important;
	}

	.menu-open &{
		@include transform(translateX(0));
	}

	.main-menu{
		display:block;
	}

}