//Row basics
.row{
	&.-collapse{
		padding:0;
	}
}

//Newsletter
.newsletter{
	
	h4{
		font-size:2rem;
		line-height:1.5em;
	}

	form{
		padding-top:2rem;
	}
}

//Sponsors
.sponsor-bar{
	border-top:1px solid $color-grey;
}

.sponsor-logos{
	
	li{
		display:inline-block;
	}
}