.container {
	background-color: rgba(255,255,255,1);
	font-family: 'Lato',sans-serif;
}

/* Header */
.header {
	padding: 50px 0;
	text-align: center;
}
.header .header-big {
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.header .header-small {
	font-size: 20px;
	letter-spacing: 3px;
	color: #666;
}
.header:after {
	border-bottom-color: #cf3d72 !important;
	content: '';
    display: block;
    position: absolute;
    width: 100px;
    border-bottom: 3px solid;
    margin-top: 18px;
    margin-left: -50px;
    left: 50%;	
}

/* Content */
.content {
	text-align: center;
}
.content .section {
	width: 100%;
	float: left;
}
.content .section h2 {
	font-weight: bold;
	font-size: 35px;
}
.content .section > p {
	padding: 10px 25% 10px;
	line-height: 24px;
	font-size: 16px;
	color: #666;
}

/* Features */
.content .section .features-list {
	margin-top: 10px;
	width: 100%;
	float: left;
}
.content .section .features-list img {
	display: inline-block;	
}
.content .section .features-item {
	float: left;
	width: 100%;
	margin: 5px 0 8px 0;
}
.content .section .features-icon {
	float: left;
    width: 50px;
	height: 50px;
	background: #cf3d72;
	border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 25px;
	color: #fff;
}
.content .section .features-icon i {
	margin-top: 13px;
	margin-left: 2px;
}
.content .section .features-icon .fa-file-text {
	font-size: 20px;
	margin-left: 4px;
}
.content .section .features-content {
	margin-left: 50px;
	padding-left: 15px;
	text-align: left;
}
.content .section .features-content h3 {
	margin-top: -3px;
	font-size: 22px;
}
.content .section .features-content p {
	color: #666;
	font-size: 14px;
}

/* Usage */
.content .section#usage {
	margin: 20px 0;	
}
.content .section#usage > p {
	margin-bottom: 15px;	
}

/* Monthly View */
.content .section#monthly-view {
	margin-top: 20px;
}
.content .section#monthly-view > p {
	margin-bottom: 0;	
}

/* Weekly View */
.content .section#weekly-view {
	margin-top: 40px;
}
.content .section#weekly-view > p {
	margin-bottom: 0;	
}

/* Code quote */
.code-header {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.code {
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
	padding: 10px;
	margin-bottom: 20px;
	color: #5AA4A3;
	text-align: left;
	letter-spacing: 0.5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;	
}
.code-title {
	color: #f0c674;
}
.code-attribute {
	color: #567BD2;
}
.code-value {
	color: #de935f;
}

/* Footer */
.footer {
	width: 100%;
	float: left;
	text-align: center;
	padding: 40px 0 60px 0;
	font-size: 15px;
}
.footer:before {
	border-bottom-color: #cf3d72 !important;
	content: '';
    display: block;
    position: absolute;
    width: 100px;
    border-bottom: 3px solid;
    margin-left: -50px;
    left: 50%;	
}
.footer .product-name {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

/* Responsive */
@media (max-width: 767px) {
	.header .header-big {
		font-size: 40px;
	}
	.content .section p {
		padding: 10px 0;
		line-height: 24px;
		font-size: 16px;
		color: #666;
	}
	.content .section .features-content h3 {
		margin-bottom: 0;
	}
	.content .section#usage .usage-column {
		padding: 0;
	}
	.content .section .features-item {
		margin: 5px 0 2px 0;
	}
}