/*
 * PHP UK Conference styles
 */ 
 
/* =Fonts
---------------------------------------------------------------- */
@font-face {
    font-family: 'SteelfishRgRegular';
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.svg#SteelfishRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SteelfishRgItalic';
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot');
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.woff') format('woff'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.svg#SteelfishRgItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot');
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* =Structure
-------------------------------------------------------------- */

html, body {
    height: 100%
    
}
body {
    font-family:  "Arial", sans-serif;
    font-size: 16px; /*All other font sizes derived at percentages */
    line-height: 140%;
    background-color: #121212;
}

h1 {
	font-family: "SteelfishRgItalic";
	font-size: 135%;
	color: #da9e26;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;	
	}
h2 {
	font-family: "SteelfishRgItalic";
	color: #da9e26;
	padding-bottom: 20px;
	font-size: 130%;
	}
h3 {
	padding-bottom: 20px;
	font-size: 140%;
	}
ul {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	list-style: circle url('../images/goldbutton.png');	
}
ol {
	
}
li {
	}
a {
	color: #60B5C9;
	text-decoration: none;
	
	}
a:hover {
	color:  #2492a2;
	}
.gold {
	color: #da9e26;
}
.blue {
	color: #60B5C9;
}

#main p {
	font-family: 'Arial';
	padding-bottom: 20px;
	line-height: 140%;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
img.left-ribbon {
	display: inline-block;
	width: 30px;
	padding-right: 5px;
	
}
img.left-ribbon-small {
	display: inline-block;
	width: 15px;
	padding-right: 5px;
}
	
	
img.right-ribbon {
	display: inline-block;
	width:30px;
	margin-top: -5px;
	padding-left: 5px;
}
img.right-ribbon-small {
	display: inline-block;
	width: 15px;
	margin-top: -5px;
	padding-left: 5px;
}

.standard-button {
    font-family: "BebasNeueRegular";
    color: #565656;
    text-decoration:none;
    text-shadow: #000 1px 1px;
    border-top: 1px solid f8a912;
    -moz-border-radius: 2px;
 	-webkit-border-radius: 2px;
  	-moz-box-shadow: 1px 1px 2px #999999;
  	-webkit-box-shadow: 1px 1px 2px #999999;
  	border-radius: 2px;
  	box-shadow: 1px 1px 2px #999999;
  	padding: 0 20px;
  	
    

    /*** Adding CSS3 Gradients ***/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#da9e26), to(#ac7916));
    background:  -moz-linear-gradient(0% 100% 90deg, #ac7916,  #da9e26);
}


/* = Page Content 
-------------------------------------------------------------- */
	
#page {
 	display: block;
 	width: 100%;
	max-width: 1920px;
	margin: 0 auto -191px;	 
	background: #fff;
	background: #efefef url(images/fallback-gradient.png);
	background-image: -webkit-gradient(radial, 50% 45%, 0, 50% 80%, 100 from(#fff), to(#efefef));
	background-image: -webkit-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	background-image: -moz-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -ms-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -o-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	min-height: 100%;
	height: auto !important;
}

img.header-image {
    width: 100%;
	position: absolute;
	top: 0;
	margin: auto;
	max-width: 1920px;
	max-height: 700px;
}

img.header-logo {
	width: 100%;
	}

#access {
	background-color: #25272c;
	width: 100%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	z-index: 105;
	color:white;
	font-family: "BebasNeueRegular";
	position: relative;  
	max-width: 1920px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 150%;
}
#left-menu {
	text-align:right;
	width:40%;
	float: left;
	z-index: 110;
	position: relative;
}
#right-menu {
	text-align:left;
	width: 40%;
	float: right;
	z-index: 110;
	position: relative;
}
#access ul {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	display: inline-block;
	position: relative;
}
#access li {
	position: relative;
	display: inline-block;
}
#access a {
	max-width: 1920px;
	width: 100%;
	line-height: 1em;
	padding: 0 1em;
	text-decoration: none;
	color: #fff;
	z-index: 1000;
	position: relative;	
}

#left-menu li:hover > a {
	color: #2492a2;
}
#right-menu li:hover > a {
	color: #2492a2;
}
#access ul li:hover > ul {
	display: block;
}


#header {
	}
	#header-logo {
	text-align: center;
	position:relative;
	z-index: 107;
	margin-top: -3%;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	}

#header-text {
	text-align: center;
	position:relative;
	padding-top: 5.5%;
}
.big-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 600%;
	color: #fff;
}
.small-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 250%;
	color: #fff;
}
#header-sub-text{
	padding-top: 0.5%;
	text-align: center;
	position:relative;
	}
.sub-title-text{
	font-family: "SteelfishRgRegular";
	font-size: 250%;
	color: #da9e26;
	padding-right: 3px;
	}
#header-circle-wrapper {
	}
#header-circles {
	position:relative;
	z-index: 103;
	text-align: center;
	width: 100%;
	}
img.circle {
	padding: 7% 3%;
	width: 14%;
	}

#bar-below-header {
	height: 60px;
	background-color:black;
	margin-top: -60px;
	max-width: 1920px;
}
#content-bar-below-header {
	font-family: "SteelfishRgRegular";
	height: 60px;
	margin-top: -60px;
	position:relative;
	width: 60%;
	overflow:visible;
	max-width: 920px;
}
#mobile-content-bar-below-header {
	font-family: "SteelfishRgRegular";
	height: 60px;
	margin-top: -60px;
	position:relative;
	width: 80%;
	display: none;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	overflow: visible;
}

img.ticket-image {	
	z-index:110;
	}
#main {
	width:90%;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	padding-top: 30px;
	max-width: 1140px;
	padding-bottom: 60px;
}
#submit-abstract {
	font-size: 140%;
	margin: auto;
	text-align: center;	
	padding-bottom: 20px;
}

#footer {
	width: 100%;
	margin: auto;
	background-color: #25272c;
	position:relative;
	clear: both;
	max-width: 1920px;
	border-top: 20px solid #000;
	}
.footer {
height: 171px;
}
.push {
height: 191px;
}
#footer-content {
	padding-top: 2%;
	width: 90%;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}
#footer-content a {
	color: #fff;
	}
#footer-content	a:hover {
	color:  #2492a2;
	}

#contact-info{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	text-align: right;
	}
	#social-media{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	}
	#php-london{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	}
img.email-image {
	padding-top: 1%;
	width:12%;
}
img.octocat {
	padding-top: 1%;
	width:15%;
}

#brewery-image {
	width:90%;
	margin: auto;
}
img.brewery-image {
	width:100%;
}
#brewery-map {
	width:50%;
	margin:auto;
	padding-top: 50px;
}
#FourOhFour {
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	color: #60b5c9; 
	text-align: center;
	padding-bottom:10px;
}
#elephant-image {
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	}
img.sadele {
	width: 20%;
	padding-top: 30px;
}

/* =Navigation
-------------------------------------------------------------- */



/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}

img.alignleft {
	float: left;
}
img.alignright {
	float: right;
}

/* =Footer
-------------------------------------------------------------- */


/* = jQuery Countdown 
-------------------------------------------------------------- */
.hasCountdown {
	color: white;
	padding-top: 1%;
	width: 50%
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	/*width: 32.5%;*/
	/* Reduced to cope with IE issue */
	width: 30%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	text-align: center;
	font-family: 'SteelfishRgRegular';
}
.countdown_amount {
	font-family: 'SteelfishRgRegular';
	font-size: 150%;
	color:  #da9e26;
}
#countdown_descr {
	font-size: 130%;
	display: inline;
	font-family: 'SteelfishRgRegular';
	color: #da9e26;
	padding-top: 3%;
	
	}

.circle-frame {
    border-radius: 100%;
    margin: 3%;
}

.profile img{
}

/* = Schedule
-------------------------------------------------------------- */
#schedule-container {
	background-color: #efefef;
}

.sessions .row {
    background-color: #EFEFEF;
}

.schedule-row {
    background-color: #DEDEDE;
}

.row-divider {
	border-top: 1px solid #c5c5c5;
	
}

.time-slot {
}
.start-time {
	background-color: #DEDEDE;
	width: 8%;
	float: left;
	text-align: right;
	padding-right: 1%;
	}
.end-time {
	background-color: #DEDEDE;
	width: 8%;
	float: left;
	text-align: right;
	padding-right: 1%;
	}
.sessions {
	width:82%;
	float: left;
	text-align: center;
	
	}
.session-one {
	background-color: #efefef;
	}
.session-main {
	background-color: #efefef;
	}
.session-two {
	background-color: #efefef;
	}
.session-title {
	/*font-weight: bold;*/
	/*margin-top:5px;*/
}
.session-presenter {
	font-style: italic;
	font-size: 14px;
}
.session-abstract {
	font-size: 14px;
}
.session-all {
	background-color: #efefef;
	}
.session-break {
	background-color: #dedede;
	}
.session-key {
	/*background-color:  #da9e26;*/
	}
.session-rc {
	background-color: #efefef;
	}

h1.schedule {
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	color: #60b5c9;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 5%;
	background-color: #DEDEDE;
	border-bottom: 1px solid #c5c5c5;
}
h1.uncon{
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 30px;
	}
	
.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none
}
.web_dialog
{
   display: none;
   position: absolute;
   width: 300px;
   top: 0;
   left: 50%;
   margin-left: -190px;
   margin-top: 400px;
   border: 1px solid #c5c5c5;
   z-index: 102;
 
   background-color: #f5f5f5;
}
.btnClose {
	float: right;
	margin-right:15px;
	margin-top: 10px;
	color: #a5a5a5;
	}
.btnClose a {
	color: #a5a5a5;
}
.btnClose a:hover {
	color: #333333;
	text-decoration: none;
}
.web_dialog_title
{
   font-weight:bold;
   color: black;
   padding-right: 15px;
}
.web_dialog_container {
	margin: 50px;
}
.web_dialog_container .row {
	background-color: #f5f5f5;
	text-align: left;
}
.web_dialog_blurb {
	margin-top: 10px;
	margin-bottom: 30px;
	}
	
/*
    Speakers bio styles
*/
.speaker {
	
  /*  clear: both; */
    padding: 20px 0px 20px 0px; 
}

.speaker-photo {
    border-radius: 100%;
    border: solid 1px #DA9E26;
}

.speaker-name {
	padding-top: 20px;
    font-family: "SteelfishRgItalic";
	font-size: 135%;
	color: #da9e26;
	line-height: 1.2em;
}
.sponsor-text {
	padding-top: 20px;
	padding-bottom: 30px;
}
.sponsor-heading {
	font-family: "SteelfishRgRegular";
	font-size: 300%;
	color: #60B5C9;
	}
.sponsor-logo-container {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: solid 1px #da9e26;
	border-radius: 100%;
	padding: 10px;
}
.separator {
	font-weight: bold;
	color: #da9e26;
}
#sponsor-logos-bar {
	padding-top: 20px;
	height: 10px;
	border-top: solid 2px #da9e26;
	padding-bottom: 20px;
	margin-top: 70px;
}
.sponsor-logo-home {
	border: solid 1px #da9e26;
	width: 150px;
}
.sponsor-type {
	font-family: "SteelfishRgRegular";
	font-size: 300%;
	color: #da9e26;
	line-height: 300%;
	text-align: center;
}
.sponsor-home {
	margin: 10px;
	float: left;
}
.sponsor-logo-heading {
	
	font-family: "SteelfishRgItalic";
	font-size: 100%;
	padding-bottom:10px;
	text-align: center;
	
}
.backlink {
	padding-top:15px;
	padding-left: 15px;
	float:right;
}
#unconlink {
	display:inline-block;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	width:100%;
}
#otherthings {
	background-color: #dedede;
	margin-bottom: 20px;
}
#hackathon{
	display:inline-block;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:center;
	width:100%;
	
}
#leftstar {
	float:left;
}
#rightstar {
	float:left;
}
/*
.keynote-presenter a {
	color:#2561DA;
}
.keynote-presenter a:hover {
	color:#4325DA;
}
*/
.session-key-container {
	border-top: 2px solid #da9e26;
	border-bottom: 2px solid #da9e26;
}
.thursday {
	background-color: #dedede;
	margin-bottom: 20px;
	margin-top: 20px;
}
.schedule-room-bg {
	width:82%;
	float: left;
	text-align: center;
	background-color: #daebef;
	}
.schedule-room-side {

	font-family: "SteelfishRgRegular";
	font-size: 120%;
	color: #454545;
	
}
.schedule-room-main {	
	padding-top:10px;
	font-family: "SteelfishRgRegular";
	font-size: 150%;
	color: #454545;
	padding-bottom:10px;
	
}

h1.thursday-schedule {
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	color: #60b5c9;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 34%;
	background-color: #DEDEDE;
}
.thursday-text {
	padding-top:40px;
	padding-left:5%;
	padding-right: 5%;
	padding-bottom:30px;
}
.mobile-track {
	display: none;
    padding-top: 20px;
	font-style: italic;
	font-size: 80%;
	color: #da9e26;
}
.header-row {
    background-color: #DEDEDE;
}

.vname{
	float:left;
}
.vnames {
	padding-bottom:60px;
}

img.starleft {
	width: 15px;
	padding-left: 15px;
}
img.starright {
	width: 15px;
	padding-right: 15px;
}
	
	

	
