$font-size-p:  ($base-font-size * 1.1);


h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre{
	margin-bottom:$base-line-height;
}

ul, ol,
dd{
	margin-left:$base-spacing-unit;
}

p{
	font-family:$font-primary;
	font-size:$font-size-p;
	line-height:1.5em;
}