$font-size-p: ($base-font-size * 1.1);


h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre{
	margin-bottom:$base-line-height;
}

ul, ol,
dd{
	margin-left:$base-spacing-unit;

	li{
		font-size:$font-size-p;
	}
}

p{
	margin-bottom:($base-spacing-unit*0.6);
	font-family:$font-primary;
	font-size:$font-size-p;
	line-height:1.5em;
}

p + ul,
p + ol{
	margin-left:($base-spacing-unit*2);
}

h3 + p,
h3 + p + p{
	margin-left:26px;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before{
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p{
	display:inline;
}

.pull-right{
	float:right;
}

.constrain{
	@include respond(large) {
		max-width:50%;
	}
}

.link{
	color:$color-brand-tertiary;

	&:before{
		padding-right:4px;
		content:"\025B8";
	}
}

.hidden{
	display:none;
}

.pad-right{
	@include respond(large){
		padding-right:10%;
	}
}

.img-left{
	margin-right:$base-spacing-unit*0.6;
}

.text-center{
	text-align:center;
}