@mixin respond($point) {
  @if $point == desktop {
    @media (min-width: 1024px) { @content; }
  }
  @if $point == medium {
    @media (max-width: 840px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 799px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 480px) { @content; }
  }
}

/* General Mobile Touch ----------- */
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.mobile-touch-overflow,
.mobile-touch-overflow * {
    /* some level of transform keeps elements from blinking out of visibility on iOS */
    -webkit-transform: rotateY(0);
}