<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <link rel="stylesheet" href="/assets/css/screen.css?version=1">
        <script src="/assets/js/jquery-1.8.0.min.js"></script>
        <script src="/assets/js/css3-mediaqueries.js"></script>
        <script src="/assets/js/php-conference-functions.js?version=2"></script>
        <script src="/assets/js/schedule.js"></script>
        <script src="/assets/js/jquery.countdown.js"></script>
        <title>PHP UK Conference 2014 - The Brewery, London - February 21-22 2015</title>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35868980-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <a href="#access">Menu</a>
        <div class="logo">
            <a href="/"><img class="header-logo" src="/assets/images/HeaderHead.png" alt="" /></a>
        </div>
        <nav id="access" class="navbar">
            <ul class="nav wrapper">
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/speakers">SPEAKERS</a></li>
                <li><a href="/schedule">SCHEDULE</a></li>
                <li><a href="/sponsors">SPONSORS</a></li>
                <li><a href="/socials">SOCIALS</a></li>
                <li><a href="/venue">VENUE</a></li>
            </ul>
        </nav>
        <div class="contentArea wrapper">
            {{content}}
        </div>
        <div class="wrapper sponsors sponsors-footer">
            <h3>Our sponsors:</h3>
            <ul>
                <li>
                    <a href="http://www.rackspace.com" target="_blank">
                        <img src="/assets/images/sponsors/rackspace.png" class="sponsor rackspace">
                    </a>
                </li><!--
                --><li>
                    <a href="http://www.codebasehq.com" target="_blank">
                        <img src="/assets/images/sponsors/codebase-deploy.png" class="sponsor">
                    </a>
                </li><!--
                --><li>
                    <a href="http://uk.affiliatewindow.com/" target="_blank">
                        <img src="/assets/images/sponsors/affiliate-window.png" class="sponsor">
                    </a>
                </li><!--
                --><li>
                    <a href="http://www.jetbrains.com/" target="_blank">
                        <img src="/assets/images/sponsors/jetbrains.png">
                    </a>
                </li><!--
                --><li>
                    <a href="http://www.engineyard.com/" target="_blank">
                        <img src="/assets/images/sponsors/engine-yard.png">
                    </a>
                </li><!--
                <li><!--
                --><li>
                    <a href="http://www.clientrelationship.com/" target="_blank">
                        <img src="/assets/images/sponsors/client-relationship-consultancy.png">
                    </a>
                </li><!--
                --><li>
                    <a href="http://www.inviqa.com/" target="_blank">
                        <img src="/assets/images/sponsors/inviqa.png">
                    </a>
                </li><!--
                --><li>
                    <a href="http://www.foodity.com/" target="_blank">
                        <img src="/assets/images/sponsors/foodity.png" class="smaller">
                    </a>
                </li>
            </ul>
        </div>
        <div id="footer" class="footer">
            <div id="footer-content" class="row">
                <p><a href="/coc/">Code of Conduct</a>
                <h3>We'd love to hear from you</h3>
                <div class="eightcol">
                    <div class="fourcol">
                        <p>Follow us on twitter:<br />
                        <a href="https://twitter.com/PHPUKConference" target="_blank">@PHPUKConference</a></p>
                        <p>Like us on Facebook:<br />
                        <a href="https://www.facebook.com/ukconference" target="_blank">facebook.com/ukconference</a></p>
                    </div>
                    <div class="fourcol">
                        <p>Email us:<br />
                        <a href="mailto:contact@phpconference.co.uk" target="_blank">contact@phpconference.co.uk</a> </p>
                        <p>Help us make this site better.<br />
                        <a href="https://github.com/phplondon/phpukconference.github.io/issues" target="_blank">Raise an issue at Github</a></p>
                    </div>
                </div>
                <div class="fourcol last">
                    <div id="contact-info">
                        <p>Powered by <a href="http://phplondon.org" target="_blank">PHP LONDON</a></p>
                        <p>PHP London Limited<br />
                        207 Regent Street<br />
                        London. W1B3HH<br />
                        Company number: 06770521<br />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
